.home{
    height: 90vh;
    width: 81.7rem;
    margin-left: -5rem;
    margin-right: -5rem;
    margin-bottom: -7.5vh;
    margin-top: 2vh;
    position: center;
    background-image: url('https://c0.wallpaperflare.com/preview/280/414/404/text-rose-caylor-and-son-tshirt.jpg');
    background-size: cover;
}